*, *::before, ::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/*body*/
body {
  margin: 0;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/*intro*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/BG_head.png") center no-repeat;
  background-size: cover;
}

.intro_inner {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  font-family: "Old Standard TT", serif;
  display: inline-block;
  font-size: 40pt;
}

.intro_subtitle {
  color: #c2c1c1;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  padding-top: 15px;
}

/*header*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_title {
  color: #ffffff;
  text-align: center;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
}

.header_inner {
  display: flex;
  text-align: center;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  color: #ffffff;
  font-size: 40pt;
  font-family: "Courgette", cursive;
  align-items: center;
  padding: 10px 30px;
}

/*Navigation*/
.nav {
  text-transform: uppercase;
  font-size: 14pt;
}

.nav_main {
  display: inline-block;
  text-align: center;
}

.nav_main a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}

.nav_basket a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding-left: 80px;
  padding-right: 30px;
  text-transform: uppercase;
}

.fas {
  padding: 0 10px;
  font-size: 24px;
}

/*Section*/
.section {
  background: #ffffff;
}

/*Top*/
.section_history_top {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px;
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.section_history_top_text {
  max-width: 686px;
  width: 100%;
  max-height: 850px;
  height: 100%;
  padding: 50px 40px;
}

.section_history_top_text_title {
  font-family: "Old Standard TT", serif;
  font-size: 34pt;
  color: #3c3c3c;
}

.section_history_top_image {
  margin: 0 40px;
  max-height: 860px;
  height: 100%;
  max-width: 700px;
  width: 100%;
  box-shadow: 0px 0px 25px 0px #9D7A8A;
}

.section_img_top {
  max-width: 686px;
  width: 100%;
  max-height: 850px;
  height: 100%;
}

.section_history_top_text_subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #6a6a6a;
}

/*btn*/
.btn {
  display: inline-block;
  vertical-align: top;
  background-color: #3c3c3c;
  font-weight: 300;
}

.btn1 {
  margin: 2px 2px;
  padding: 10px 15px;
  border: 1px solid #949494;
}

.btn_text {
  color: #ffffff;
  font-size: 10pt;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.section_history_botomn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 130px;
}

.section_history_botomn_image_properties {
  max-width: 800px;
  width: 100%;
  max-height: 550px;
  height: 100%;
  padding: 30px 0;
  padding-right: 30px;
}

.section_history_botomn_text {
  max-width: 540px;
  width: 100%;
  max-height: 135px;
  height: 100%;
  align-items: center;
  padding-right: 40px;
}

.section_history_botomn_text_properties {
  font-family: "Ubuntu";
  font-weight: lighter;
  font-size: 10pt;
  line-height: 2;
  color: #6a6a6a;
  border-left: 2px solid #ccc;
  margin-left: 20px;
  padding-left: 10px;
}

.features {
  color: #3c3c3c;
}

.text {
  max-width: 1920px;
  width: 100%;
  max-height: 180px;
  height: 100%;
  text-align: center;
}

.text_title {
  font-family: "Old Standard TT", serif;
  font-size: 34pt;
  color: #3c3c3c;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text_subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #6a6a6a;
  width: 750px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.features {
  margin-bottom: 100px;
}

.features_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  max-width: 60px;
  width: 100%;
  max-height: 180px;
  height: 100%;
}

.center {
  max-width: 980px;
  width: 100%;
  max-height: 650px;
  height: 100%;
}

.right {
  max-width: 220px;
  width: 100%;
  max-height: 380px;
  height: 100%;
}

.components {
  margin-top: 50px;
}

.components_panel {
  max-width: 980px;
  width: 100%;
  max-height: 650px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  text-align: center;
}

.part1 {
  margin-left: auto;
  margin-right: auto;
}

.components_img {
  max-width: 270px;
  width: 100%;
  max-height: 230px;
  height: 100%;
}

.text1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #6a6a6a;
  line-height: 2;
  margin-bottom: 15px;
}

.text2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #6a6a6a;
  line-height: 2;
  margin-bottom: 15px;
}

.text3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #6a6a6a;
  line-height: 2;
  margin-bottom: 15px;
}

.text4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #6a6a6a;
  line-height: 2;
  margin-bottom: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/footer_intro_02.png") center no-repeat;
  background-size: cover;
}

.footer_central {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  max-width: 100%;
  height: 350px;
  max-height: 100%;
  background: url("../images/email_title_04.png") center no-repeat;
}

.footer_title {
  font-family: "Old Standard TT", serif;
  color: #3c3c3c;
  font-size: 40pt;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  margin: 10px 0;
  text-align: center;
}

.footer_subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 10pt;
  color: #6a6a6a;
  line-height: 1.5;
  margin: 20px 50px;
  text-align: center;
}

.email_line {
  display: flex;
  margin: 0 auto;
  max-height: 40px;
  height: 100%;
  max-width: 600px;
  width: 100%;
}

input {
  max-height: 40px;
  height: 100%;
  max-width: 700px;
  width: 100%;
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid #e1e1e1;
  border-right: 0;
  background-color: #e8e8e8;
}

.btn-sub {
  width: 100px;
  height: 40px;
  font-size: 18px;
  vertical-align: top;
  color: #ffffff;
  font-size: 10pt;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  background-color: #3c3c3c;
  font-weight: 300;
  border: 1px solid #949494;
  color: #ffffff;
  font-size: 10pt;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.botomn_text {
  display: flex;
  align-items: flex-end;
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1800px) {

    section,
    footer,
    .copyright-and-policy {
        padding-left: 300px;
        padding-right: 300px;
    }

    .item {
        margin: 10px;
    }
}

@media only screen and (max-width: 1600px) {

    section,
    footer,
    .copyright-and-policy {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media only screen and (max-width: 1520px) {

    section,
    footer,
    .copyright-and-policy {
        padding-left: 100px;
        padding-right: 100px;
    }

    h2,
    .description {
        padding-left: 250px;
    }

    .button-intro {
        margin-left: 250px;
    }

    .lower-header-2,
    .footer-nav {
        flex-wrap: wrap;
    }

    #flex-container {
        flex-wrap: nowrap;
    }

    .shops, .subscribe {
        margin: 5px;
    }
}

@media only screen and (max-width: 1320px) {

    section,
    footer,
    .copyright-and-policy {
        padding-left: 10px;
        padding-right: 10px;
    }

    #flex-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 1140px) {
    .flex-container {
        justify-content: center;
    }

    hr {
        width: 150px;
    }

    footer .item {
        width: 200px;   
    }

    h3 {
        text-align: center;
    }

    h2,
    .description {
        padding-left: 150px;
    }

    .button-intro {
        margin-left: 150px;
    }

    .input {
        margin-left: 150px;
    }

}

@media only screen and (max-width: 960px) {

    .footer-nav {
        justify-content: center;
    }
    
    .contact-info {
        justify-content: center;
    }

    #policy {
        text-align: right;
        margin-left: 10px;
    }

    .input {
        margin-left: auto;
    }

    .lower-header__logo {
        margin: 0px 20px;
    }
}

@media only screen and (max-width: 560px) {

    h2,
    .description {
        padding-left: 50px;
    }

    .button-intro {
        margin-left: 50px;
    }

    #policy {
        margin-left: 10px;
    }

    .impuls {
        padding: 35px 30px;
    }

    .logo-email,
    .logo-shops {
        display: none;
    }

    .number {
        margin-left: 40px;
    }

    hr {
        width: 200px;
    }

    .contact-info {
        flex-wrap: wrap;
    }

    .flex-container,
    .subscribe__description,
    .shops__description {
        justify-content: center;
    }

    .lower-header__logo {
        margin-bottom: 20px ;
    }

    .lower-header__call .button {
        flex-shrink: 1;
    }

    section .item {
        flex-grow: 1;
    }

    .address {
        margin: 30px 100px 30px 10px
    }

    .input {
        margin-left: 10px;
    }

    .shops__description, .subscribe__description {
        margin-left: 35px;
    }

    .nav__link {
        font-size: 11px;
        margin: 0 10px;
    }

    .button {
        width: 145px;
    }

    .social-network-container {
        margin-bottom: 10px;
    }

    .address {
        margin: 0px 20px;
    }

    .input {
        margin: auto;
    }
}

@media only screen and (max-width: 360px) {
    .lower-header__call .button, .lower-header-2 .number {
        margin-left: 10px;
    }

    .nav__link {
        margin: 0 7px;
    }
}
