*, *::before, ::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/*body*/
body {
  margin: 0;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/*intro*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/BG_head.png") center no-repeat;
  background-size: cover;
}

.intro_inner {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  font-family: "Old Standard TT", serif;
  display: inline-block;
  font-size: 40pt;
}

.intro_subtitle {
  color: #c2c1c1;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  padding-top: 15px;
}

/*header*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  flex-direction: column;
}

.header_title {
  color: #ffffff;
  text-align: center;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
}

.header_inner {
  display: flex;
  text-align: center;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  color: #ffffff;
  font-size: 40pt;
  font-family: "Courgette", cursive;
  align-items: center;
  padding: 10px 30px;
}

/*Navigation*/
.nav {
  text-transform: uppercase;
  font-size: 14pt;
}

.nav_main li {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}

.nav_main {
  display: inline-block;
  text-align: center;
}

.nav_main a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}

.nav_basket a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding-left: 80px;
  padding-right: 30px;
  text-transform: uppercase;
}

.fas {
  padding: 0 10px;
  font-size: 24px;
}

/*Section*/
.bikes_top {
  background: #ffffff;
}

/*Top*/
.bikes_top_history_top {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px;
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.bikes_top_history_top_text {
  max-width: 686px;
  width: 100%;
  max-height: 850px;
  height: 100%;
  padding: 50px 40px;
}

.bikes_top_history_top_text_title {
  font-family: "Old Standard TT", serif;
  font-size: 34pt;
  color: #3c3c3c;
}

.bikes_top_history_top_image {
  max-width: 686px;
  width: 100%;
  max-height: 850px;
  height: 100%;
  padding: 50px 40px;
  margin: auto auto;
}

.bikes_top_img_top {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 686px;
  width: 100%;
  max-height: 850px;
  height: 100%;
  box-shadow: 0px 0px 25px 0px #9D7A8A;
}

.bikes_top_history_top_text_subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #6a6a6a;
}

/*btn*/
.btn {
  display: inline-block;
  vertical-align: top;
  background-color: #3c3c3c;
  font-weight: 300;
}

.btn1 {
  margin: 2px 2px;
  padding: 10px 15px;
  border: 1px solid #949494;
}

.btn_text {
  color: #ffffff;
  font-size: 10pt;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.bikes_botomn_history_botomn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 130px;
}

.bikes_botomn_history_botomn_image_properties {
  max-width: 800px;
  width: 100%;
  max-height: 550px;
  height: 100%;
  padding: 30px 0;
  padding-right: 30px;
}

.bikes_botomn_history_botomn_text {
  max-width: 540px;
  width: 100%;
  max-height: 135px;
  height: 100%;
  align-items: center;
  padding-right: 40px;
}

.bikes_botomn_history_botomn_text_properties {
  font-family: "Ubuntu";
  font-weight: lighter;
  font-size: 10pt;
  line-height: 2;
  color: #6a6a6a;
  border-left: 2px solid #ccc;
  margin-left: 20px;
  padding-left: 10px;
}

.features_features {
  color: #3c3c3c;
  margin-bottom: 100px;
}

.features_text {
  max-width: 1920px;
  width: 100%;
  max-height: 180px;
  height: 100%;
  text-align: center;
}

.features_text_title {
  font-family: "Old Standard TT", serif;
  font-size: 34pt;
  color: #3c3c3c;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.features_text_subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #6a6a6a;
  max-width: 750px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.features_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features_left {
  max-width: 60px;
  width: 100%;
  max-height: 180px;
  height: 100%;
  margin-right: 30px;
}

.features_center {
  max-width: 980px;
  width: 100%;
  max-height: 650px;
  height: 100%;
}

.features_right {
  max-width: 220px;
  width: 100%;
  max-height: 380px;
  height: 100%;
}

.components {
  margin-top: 50px;
}

.components_panel {
  max-width: 980px;
  width: 100%;
  max-height: 650px;
  height: 100%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  text-align: center;
}

.part1 {
  width: 100;
  margin-left: auto;
  margin-right: auto;
}

.part2 {
  margin-left: auto;
  margin-right: auto;
}

.part3 {
  margin-left: auto;
  margin-right: auto;
}

.part4 {
  margin-left: auto;
  margin-right: auto;
}

.karetka {
  max-width: 270px;
  width: 100%;
  max-height: 230px;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.tormoz {
  max-width: 270px;
  width: 100%;
  max-height: 230px;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sidlo {
  max-width: 270px;
  width: 100%;
  max-height: 230px;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.pedali {
  max-width: 270px;
  width: 100%;
  max-height: 230px;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.components_img {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 270px;
  width: 100%;
  max-height: 230px;
  height: 100%;
}

.text1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #6a6a6a;
  line-height: 2;
  margin-bottom: 15px;
}

.text2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #6a6a6a;
  line-height: 2;
  margin-bottom: 15px;
}

.text3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #6a6a6a;
  line-height: 2;
  margin-bottom: 15px;
}

.text4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 12pt;
  color: #6a6a6a;
  line-height: 2;
  margin-bottom: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/footer_intro_02.png") center no-repeat;
  background-size: cover;
}

.footer_central {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  max-width: 100%;
  height: 350px;
  max-height: 100%;
  background: url("../images/email_title_04.png") center no-repeat;
}

.footer_title {
  font-family: "Old Standard TT", serif;
  color: #3c3c3c;
  font-size: 40pt;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  margin: 10px 0;
  text-align: center;
}

.footer_subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 10pt;
  color: #6a6a6a;
  line-height: 1.5;
  margin: 20px 50px;
  text-align: center;
}

.email_line {
  display: flex;
  margin: 0 auto;
  max-height: 40px;
  height: 100%;
  max-width: 600px;
  width: 100%;
}

input {
  max-height: 40px;
  height: 100%;
  max-width: 700px;
  width: 100%;
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid #e1e1e1;
  border-right: 0;
  background-color: #e8e8e8;
}

.btn-sub {
  width: 100px;
  height: 40px;
  font-size: 18px;
  vertical-align: top;
  color: #ffffff;
  font-size: 10pt;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  background-color: #3c3c3c;
  font-weight: 300;
  border: 1px solid #949494;
  color: #ffffff;
  font-size: 10pt;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.botomn_text {
  display: flex;
  align-items: flex-end;
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .bikes_top_history_top {
    display: flex;
    margin: 0 0;
  }
}
@media screen and (max-width: 992px) {
  .bikes_top_history_top_text_title {
    font-size: 36px;
  }

  .bikes_top_history_top_text {
    font-size: 10pt;
  }

  .bikes_top_history_top {
    display: flex;
    margin: 0 0;
    height: auto;
  }

  .bikes_top_history_top_text {
    max-width: 686px;
    width: 100%;
    max-height: 850px;
    height: 100%;
    padding: 50px 40px;
    word-wrap: break-word;
  }

  .bikes_botomn_history_botomn {
    margin: 0 0;
  }
}
@media only screen and (max-width: 768px) {
  .bikes_top_history_top {
    display: flex;
    margin: 0 0;
    height: 100%;
    padding: 0 0;
  }

  .bikes_top_history_top_text {
    max-width: 686px;
    width: 100%;
    max-height: 1000px;
    height: 100%;
    padding: 50px 40px;
    word-wrap: break-word;
  }

  .nav {
    text-transform: uppercase;
    font-size: 14pt;
    flex-direction: column;
  }

  .nav_main {
    text-align: center;
    flex-direction: column;
  }

  .nav_main a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
  }

  .nav_basket a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 0 0;
    text-transform: uppercase;
  }

  .section_history_botomn {
    margin: 0 0;
  }

  .bikes_top_history_top {
    flex-direction: column;
  }

  .bikes_botomn_history_botomn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .bikes_botomn_history_botomn_image_properties {
    max-width: 800px;
    width: 100%;
    max-height: 1000px;
    height: 100%;
    padding-right: 0px;
  }

  .bikes_botomn_history_botomn_text {
    max-width: 540px;
    width: 100%;
    max-height: 1000px;
    height: 100%;
    align-items: center;
    padding-right: 10px;
  }

  .bikes_botomn_history_botomn_text_properties {
    font-family: "Ubuntu";
    font-weight: lighter;
    font-size: 10pt;
    line-height: 2;
    color: #6a6a6a;
    border-left: 2px solid #ccc;
    margin-left: 10px;
  }

  .features_text_subtitle {
    max-height: 150px;
    height: 100%;
    padding: 0 10px;
    text-align: center;
  }

  .bikes_top_history_top_image {
    padding: 0 40px;
    padding-bottom: 40px;
    max-width: 85%;
  }

  .footer_central {
    max-width: 70%;
  }

  .footer_title {
    font-family: "Old Standard TT", serif;
    color: #3c3c3c;
    font-size: 40pt;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 0;
    text-align: center;
  }

  .footer_subtitle {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: #6a6a6a;
    line-height: 1.5;
    margin: 20px 50px;
    text-align: center;
  }

  .email_line {
    display: flex;
    margin: 0 auto;
    max-height: 40px;
    height: 100%;
    max-width: 600px;
    width: 100%;
  }

  .email_line {
    width: 80%;
  }

  input {
    max-height: 40px;
    height: 80%;
    max-width: 700px;
    width: 80%;
  }

  .btn-sub {
    max-width: 100px;
    width: 80%;
    max-height: 40px;
    height: 80%;
    font-size: 16px;
    vertical-align: top;
    color: #ffffff;
    font-size: 10pt;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    background-color: #3c3c3c;
    border: 1px solid #949494;
    color: #ffffff;
    font-size: 10pt;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
  }

  .botomn_text {
    display: flex;
    align-items: flex-end;
    max-width: 1000px;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .header_inner {
    flex-direction: column;
  }

  .nav_basket a {
    color: #ffffff;
    text-decoration: none;
    vertical-align: top;
    text-transform: uppercase;
  }

  .components_panel {
    max-width: 980px;
    width: 100%;
    max-height: 1500px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    text-align: center;
    flex-direction: column;
  }

  .footer_title {
    font-size: 26pt;
  }

  .nav_main li {
    color: #ffffff;
    text-decoration: none;
    flex-direction: column;
    vertical-align: top;
  }

  .nav_main {
    text-transform: uppercase;
    font-size: 14pt;
    flex-direction: column;
    display: flex;
  }
}
